NodeRed_Dashboard/.dashboard.json.backup
[{"id":"5590782f.386e7","type":"tab","label":"Simulation dashboard","disabled":false,"info":""},{"id":"d463b030.b9c72","type":"tab","label":"Room information","disabled":false,"info":""},{"id":"81e687fe.e636a","type":"tab","label":"Lamps management","disabled":false,"info":""},{"id":"699fd930.b71dd8","type":"tab","label":"Heaters management","disabled":false,"info":""},{"id":"2b65d59a.6d034a","type":"tab","label":"Windows management","disabled":false,"info":""},{"id":"6fca7c27.c498b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52be0d13.2b458c","type":"ui_tab","z":"","name":"My home manager","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"76f256eb.923ff8","type":"ui_group","z":"","name":"Lamps management","tab":"52be0d13.2b458c","order":2,"disp":true,"width":"12","collapse":false},{"id":"d064cb97.d7f6b","type":"ui_group","z":"","name":"Windows management","tab":"52be0d13.2b458c","order":3,"disp":true,"width":"12","collapse":false},{"id":"7269ae52.b8eee","type":"ui_group","z":"","name":"Heaters management","tab":"52be0d13.2b458c","order":4,"disp":true,"width":"12","collapse":false},{"id":"547ce5e7.27a90c","type":"ui_group","z":"","name":"Room information","tab":"52be0d13.2b458c","order":1,"disp":true,"width":"12","collapse":false},{"id":"bd4528f8.91ab1","type":"ui_spacer","name":"spacer","group":"547ce5e7.27a90c","order":1,"width":1,"height":1},{"id":"16c6501a.013b88","type":"ui_spacer","name":"spacer","group":"547ce5e7.27a90c","order":4,"width":1,"height":1},{"id":"496cc531.f9a4ac","type":"ui_tab","z":"","name":"My home simulator","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8337c2f2.8490a","type":"ui_group","z":"","name":"Temperature sensor","tab":"496cc531.f9a4ac","order":1,"disp":true,"width":"12","collapse":false},{"id":"c359df81.f5e41","type":"ui_group","z":"","name":"Luminosity sensor","tab":"496cc531.f9a4ac","order":2,"disp":true,"width":"12","collapse":false},{"id":"d167ab0c.040298","type":"ui_group","z":"","name":"Presence sensor","tab":"496cc531.f9a4ac","order":3,"disp":true,"width":"12","collapse":false},{"id":"938fe246.0e25b","type":"ui_group","z":"","name":"Leave the room","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b614a121.1ea8","type":"ui_template","z":"2b65d59a.6d034a","group":"d064cb97.d7f6b","name":"home icon","order":1,"width":"12","height":"2","format":"<div style=\"text-align: center\"><i class=\"fa fa-home\" style=\"font-size:50px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":615,"y":58,"wires":[[]]},{"id":"7c2e8fca.a6d33","type":"ui_switch","z":"5590782f.386e7","name":"","label":"Presence","tooltip":"","group":"d167ab0c.040298","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":126.5,"y":536,"wires":[["c129224e.a1a15"]]},{"id":"2eeb45c6.6ebb6a","type":"ui_template","z":"5590782f.386e7","group":"8337c2f2.8490a","name":"thermometer icon","order":1,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-thermometer-half\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":695,"y":130,"wires":[[]]},{"id":"204da4cb.be0c2c","type":"ui_template","z":"5590782f.386e7","group":"c359df81.f5e41","name":"sun icon","order":1,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-sun-o\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":819,"y":277,"wires":[[]]},{"id":"d2e087fb.78dfc8","type":"ui_template","z":"5590782f.386e7","group":"d167ab0c.040298","name":"people icon","order":2,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-users\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":438,"wires":[[]]},{"id":"18d378e3.601aef","type":"ui_form","z":"5590782f.386e7","name":"","label":"Temperature (°C):","group":"8337c2f2.8490a","order":7,"width":0,"height":0,"options":[{"label":"Temperature (°C)","value":"temperature","type":"text","required":true}],"formValue":{"temperature":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":153.5,"y":205,"wires":[["17624ae7.fb9455"]]},{"id":"e0cf8767.2aa888","type":"ui_form","z":"5590782f.386e7","name":"","label":"Luminosity rate (%):","group":"c359df81.f5e41","order":7,"width":0,"height":0,"options":[{"label":"Luminosity rate (%)","value":"luminosity","type":"text","required":true}],"formValue":{"luminosity":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":175,"y":372,"wires":[["c3a8451d.967068"]]},{"id":"3f5289de.eef26e","type":"http request","z":"5590782f.386e7","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/temperature/{{post}}","tls":"","x":543.5,"y":203,"wires":[["a2e3a92e.3a724"]]},{"id":"e89dd359.089598","type":"ui_switch","z":"2b65d59a.6d034a","name":"","label":"Window 1","tooltip":"","group":"d064cb97.d7f6b","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":181,"y":181,"wires":[["b032ea91.084fc8"]]},{"id":"fbd7373e.4d33f8","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Window 1","name":"","x":1131,"y":181,"wires":[]},{"id":"be7348e9.7760f","type":"http request","z":"2b65d59a.6d034a","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/window/true","tls":"","x":499,"y":152,"wires":[["68e93edd.b15b58"]]},{"id":"e29b4b2c.df24a8","type":"function","z":"2b65d59a.6d034a","name":"","func":"if (msg.payload[\"m2m:cin\"].con[0] == \"true\")\n    msg.payload = \"Opened\";\nelse if (msg.payload[\"m2m:cin\"].con[0] == \"false\")\n    msg.payload = \"Closed\";\nelse\n    msg.payload = \"Error\";\n\nreturn msg;","outputs":1,"noerr":0,"x":954,"y":170,"wires":[["fbd7373e.4d33f8"]]},{"id":"b032ea91.084fc8","type":"switch","z":"2b65d59a.6d034a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":358,"y":176,"wires":[["be7348e9.7760f"],["7b33f523.38d2b4"]]},{"id":"7b33f523.38d2b4","type":"http request","z":"2b65d59a.6d034a","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/window/false","tls":"","x":502.5,"y":193,"wires":[["68e93edd.b15b58"]]},{"id":"16669e9e.082079","type":"xml","z":"2b65d59a.6d034a","name":"","property":"payload","attr":"","chr":"","x":826,"y":169,"wires":[["e29b4b2c.df24a8"]]},{"id":"297f923d.e2139e","type":"http request","z":"2b65d59a.6d034a","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/window/","tls":"","x":350.5,"y":252,"wires":[["e5afee6f.065ed8"]]},{"id":"68e93edd.b15b58","type":"http request","z":"2b65d59a.6d034a","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/window","tls":"","x":667,"y":171,"wires":[["16669e9e.082079"]]},{"id":"e5afee6f.065ed8","type":"xml","z":"2b65d59a.6d034a","name":"","property":"payload","attr":"","chr":"","x":509.5,"y":253,"wires":[["996e873.2a0a878"]]},{"id":"996e873.2a0a878","type":"function","z":"2b65d59a.6d034a","name":"","func":"msg.payload = msg.payload[\"m2m:cin\"].con[0]\n\nreturn msg;","outputs":1,"noerr":0,"x":651.5,"y":258,"wires":[["e89dd359.089598"]]},{"id":"afcc2a55.483448","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":173,"y":251,"wires":[["297f923d.e2139e"]]},{"id":"17624ae7.fb9455","type":"change","z":"5590782f.386e7","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":342.5,"y":203,"wires":[["3f5289de.eef26e"]]},{"id":"a2e3a92e.3a724","type":"http request","z":"5590782f.386e7","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/temperature","tls":"","x":743,"y":193,"wires":[["61875d90.597e7c"]]},{"id":"61875d90.597e7c","type":"xml","z":"5590782f.386e7","name":"","property":"payload","attr":"","chr":"","x":902,"y":191,"wires":[["585f466f.fa999"]]},{"id":"585f466f.fa999","type":"function","z":"5590782f.386e7","name":"","func":"msg.payload = msg.payload[\"m2m:cin\"].con[0];\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":192,"wires":[["db4c8e67.2a364"]]},{"id":"db4c8e67.2a364","type":"ui_toast","z":"5590782f.386e7","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Temperature updated","name":"","x":1190,"y":190,"wires":[]},{"id":"c3a8451d.967068","type":"change","z":"5590782f.386e7","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload.luminosity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":387,"y":365,"wires":[["1409ee17.18b0ca"]]},{"id":"1409ee17.18b0ca","type":"http request","z":"5590782f.386e7","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/luminosity/{{post}}","tls":"","x":588,"y":365,"wires":[["c1e88d48.d103b"]]},{"id":"c1e88d48.d103b","type":"http request","z":"5590782f.386e7","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/luminosity","tls":"","x":787.5,"y":355,"wires":[["a299ed36.29343"]]},{"id":"a299ed36.29343","type":"xml","z":"5590782f.386e7","name":"","property":"payload","attr":"","chr":"","x":946.5,"y":353,"wires":[["fdb7e2c1.a0d7b"]]},{"id":"fdb7e2c1.a0d7b","type":"function","z":"5590782f.386e7","name":"","func":"msg.payload = msg.payload[\"m2m:cin\"].con[0];\nreturn msg;","outputs":1,"noerr":0,"x":1074.5,"y":354,"wires":[["c2004e1a.6a68d8"]]},{"id":"c2004e1a.6a68d8","type":"ui_toast","z":"5590782f.386e7","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Luminosity updated","name":"","x":1234.5,"y":352,"wires":[]},{"id":"c129224e.a1a15","type":"change","z":"5590782f.386e7","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":317,"y":543,"wires":[["2c167a4d.43e39e"]]},{"id":"2c167a4d.43e39e","type":"http request","z":"5590782f.386e7","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/presence/{{post}}","tls":"","x":518,"y":543,"wires":[["95388d88.9ae6a8"]]},{"id":"95388d88.9ae6a8","type":"http request","z":"5590782f.386e7","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/presence","tls":"","x":717.5,"y":533,"wires":[["404cceba.d2efb8"]]},{"id":"404cceba.d2efb8","type":"xml","z":"5590782f.386e7","name":"","property":"payload","attr":"","chr":"","x":876.5,"y":531,"wires":[["67dab60c.a989d"]]},{"id":"67dab60c.a989d","type":"function","z":"5590782f.386e7","name":"","func":"if (msg.payload[\"m2m:cin\"].con[0] === \"true\"){\n    msg.payload = \"Someone is present\";\n}\nelse if (msg.payload[\"m2m:cin\"].con[0] === \"false\"){\n    msg.payload = \"Nobody is present\";\n}\nelse {\n    msg.payload = \"Error\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1004.5,"y":532,"wires":[["ce7be4e5.7e90a8"]]},{"id":"ce7be4e5.7e90a8","type":"ui_toast","z":"5590782f.386e7","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Presence updated","name":"","x":1164.5,"y":530,"wires":[]},{"id":"12e67931.843a67","type":"ui_gauge","z":"d463b030.b9c72","name":"","group":"547ce5e7.27a90c","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0009b5","#0d9b02","#ca3838"],"seg1":"18","seg2":"22","x":920.5,"y":265,"wires":[],"inputLabels":["22"]},{"id":"8faeb3af.b02f18","type":"ui_text","z":"d463b030.b9c72","group":"547ce5e7.27a90c","order":5,"width":0,"height":0,"name":"","label":"Luminosity rate:","format":"{{msg.payload}} %","layout":"row-spread","x":1048.5,"y":783,"wires":[]},{"id":"24e67061.0b921","type":"function","z":"d463b030.b9c72","name":"Test","func":"msg.color = (msg.payload[\"m2m:cin\"].con[0] === \"true\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":767.5,"y":612,"wires":[["6f1a4150.8951e"]]},{"id":"6f1a4150.8951e","type":"ui_text","z":"d463b030.b9c72","group":"547ce5e7.27a90c","order":6,"width":0,"height":0,"name":"","label":"Room presence","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":929.5,"y":613,"wires":[]},{"id":"eef464fe.3dc65","type":"ui_template","z":"d463b030.b9c72","group":"547ce5e7.27a90c","name":"information icon","order":2,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-info\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":657,"y":49,"wires":[[]]},{"id":"48df797e.87248","type":"inject","z":"d463b030.b9c72","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":214,"y":552,"wires":[["d9b1a4ee.cad5b8","35123c11.bb1bd4","91a4171b.32ea98"]]},{"id":"d9b1a4ee.cad5b8","type":"http request","z":"d463b030.b9c72","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/temperature/","tls":"","x":455.5,"y":225,"wires":[["50201c3b.f5bbd4"]]},{"id":"50201c3b.f5bbd4","type":"xml","z":"d463b030.b9c72","name":"","property":"payload","attr":"","chr":"","x":618,"y":217,"wires":[["fec7a742.aaf3f","7051add.521ccd4"]]},{"id":"fec7a742.aaf3f","type":"function","z":"d463b030.b9c72","name":"Temperature","func":"msg.payload = msg.payload[\"m2m:cin\"].con[0];\nreturn msg;","outputs":1,"noerr":0,"x":788,"y":215,"wires":[["12e67931.843a67"]]},{"id":"35123c11.bb1bd4","type":"http request","z":"d463b030.b9c72","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/presence","tls":"","x":468.5,"y":559,"wires":[["83ea84d8.175e8"]]},{"id":"83ea84d8.175e8","type":"xml","z":"d463b030.b9c72","name":"","property":"payload","attr":"","chr":"","x":631,"y":551,"wires":[["24e67061.0b921","7051add.521ccd4","2d2dedf9.5058aa"]]},{"id":"799deac7.301494","type":"xml","z":"d463b030.b9c72","name":"","property":"payload","attr":"","chr":"","x":635,"y":773,"wires":[["d27be30c.c7953"]]},{"id":"91a4171b.32ea98","type":"http request","z":"d463b030.b9c72","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/luminosity","tls":"","x":472.5,"y":781,"wires":[["799deac7.301494"]]},{"id":"d27be30c.c7953","type":"function","z":"d463b030.b9c72","name":"Test","func":"msg.payload = msg.payload[\"m2m:cin\"].con[0];\nreturn msg;","outputs":1,"noerr":0,"x":771.5,"y":768,"wires":[["8faeb3af.b02f18"]]},{"id":"844a8c63.69f15","type":"ui_switch","z":"81e687fe.e636a","name":"","label":"Lamp 1","tooltip":"","group":"76f256eb.923ff8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":122,"y":104,"wires":[["60a3f338.e4630c"]]},{"id":"1eb1992.0654167","type":"ui_toast","z":"81e687fe.e636a","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Lamp 1","name":"","x":1031,"y":104,"wires":[]},{"id":"4bddebaa.92b87c","type":"ui_template","z":"81e687fe.e636a","group":"76f256eb.923ff8","name":"lightbulb icon","order":1,"width":"12","height":"2","format":"<div style=\"text-align: center\"><i class=\"fa fa-lightbulb-o\" style=\"font-size:50px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1241,"y":102,"wires":[[]]},{"id":"3128352.b3d93ca","type":"http request","z":"81e687fe.e636a","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/lamp/true","tls":"","x":416,"y":88,"wires":[["a7c8e041.7d0a5"]]},{"id":"b006634.bc64e2","type":"function","z":"81e687fe.e636a","name":"","func":"if (msg.payload[\"m2m:cin\"].con[0] == \"true\")\n    msg.payload = \"Turned on\";\nelse if (msg.payload[\"m2m:cin\"].con[0] == \"false\")\n    msg.payload = \"Turned off\";\nelse\n    msg.payload = \"Error\";\n\nreturn msg;","outputs":1,"noerr":0,"x":871,"y":106,"wires":[["1eb1992.0654167"]]},{"id":"60a3f338.e4630c","type":"switch","z":"81e687fe.e636a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":275,"y":112,"wires":[["3128352.b3d93ca"],["7dee1c83.32ea64"]]},{"id":"7dee1c83.32ea64","type":"http request","z":"81e687fe.e636a","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/lamp/false","tls":"","x":419.5,"y":129,"wires":[["a7c8e041.7d0a5"]]},{"id":"789df69d.a04a68","type":"xml","z":"81e687fe.e636a","name":"","property":"payload","attr":"","chr":"","x":743,"y":105,"wires":[["b006634.bc64e2"]]},{"id":"a7c8e041.7d0a5","type":"http request","z":"81e687fe.e636a","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/lamp","tls":"","x":584,"y":107,"wires":[["789df69d.a04a68"]]},{"id":"7f7c1b86.94ec7c","type":"inject","z":"81e687fe.e636a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":103,"y":181,"wires":[["b8fd960e.a89c18"]]},{"id":"b8fd960e.a89c18","type":"http request","z":"81e687fe.e636a","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/lamp/","tls":"","x":267.5,"y":188,"wires":[["50b8d99.ff37ea8"]]},{"id":"50b8d99.ff37ea8","type":"xml","z":"81e687fe.e636a","name":"","property":"payload","attr":"","chr":"","x":429.5,"y":189,"wires":[["42a9846a.6b826c"]]},{"id":"42a9846a.6b826c","type":"function","z":"81e687fe.e636a","name":"","func":"msg.payload = msg.payload[\"m2m:cin\"].con[0]\n\nreturn msg;","outputs":1,"noerr":0,"x":568.5,"y":194,"wires":[["844a8c63.69f15"]]},{"id":"b8654f66.75c1a8","type":"ui_switch","z":"699fd930.b71dd8","name":"","label":"Heater 1","tooltip":"","group":"7269ae52.b8eee","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":129,"y":161,"wires":[["6553e328.6019e4"]]},{"id":"6783cecc.f3788","type":"ui_template","z":"699fd930.b71dd8","group":"7269ae52.b8eee","name":"fire icon","order":1,"width":"12","height":"2","format":"<div style=\"text-align: center\"><i class=\"fa fa-fire\" style=\"font-size:50px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":603.5,"y":58,"wires":[[]]},{"id":"1876fbb.304ce84","type":"ui_toast","z":"699fd930.b71dd8","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Heater 1","name":"","x":1056.5,"y":157,"wires":[]},{"id":"3665b52d.1fc132","type":"http request","z":"699fd930.b71dd8","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/heater/true","tls":"","x":441.5,"y":141,"wires":[["946cd216.c82ca8"]]},{"id":"ff0561b.bcedda","type":"function","z":"699fd930.b71dd8","name":"","func":"if (msg.payload[\"m2m:cin\"].con[0] == \"true\")\n    msg.payload = \"Turned on\";\nelse if (msg.payload[\"m2m:cin\"].con[0] == \"false\")\n    msg.payload = \"Turned off\";\nelse\n    msg.payload = \"Error\";\n\nreturn msg;","outputs":1,"noerr":0,"x":896.5,"y":159,"wires":[["1876fbb.304ce84"]]},{"id":"6553e328.6019e4","type":"switch","z":"699fd930.b71dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300.5,"y":165,"wires":[["3665b52d.1fc132"],["6a8bddaa.b182cc"]]},{"id":"6a8bddaa.b182cc","type":"http request","z":"699fd930.b71dd8","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/heater/false","tls":"","x":445,"y":182,"wires":[["946cd216.c82ca8"]]},{"id":"19693437.485fdc","type":"xml","z":"699fd930.b71dd8","name":"","property":"payload","attr":"","chr":"","x":768.5,"y":158,"wires":[["ff0561b.bcedda"]]},{"id":"89f84f05.90c4c8","type":"http request","z":"699fd930.b71dd8","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/heater/","tls":"","x":293,"y":241,"wires":[["e0b33e80.728f9"]]},{"id":"946cd216.c82ca8","type":"http request","z":"699fd930.b71dd8","name":"","method":"GET","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/heater","tls":"","x":609.5,"y":160,"wires":[["19693437.485fdc"]]},{"id":"8105507f.bdb7a","type":"inject","z":"699fd930.b71dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":128.5,"y":234,"wires":[["89f84f05.90c4c8"]]},{"id":"e0b33e80.728f9","type":"xml","z":"699fd930.b71dd8","name":"","property":"payload","attr":"","chr":"","x":455,"y":242,"wires":[["9df6139a.8b5d78"]]},{"id":"9df6139a.8b5d78","type":"function","z":"699fd930.b71dd8","name":"","func":"msg.payload = msg.payload[\"m2m:cin\"].con[0]\n\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":247,"wires":[["b8654f66.75c1a8"]]},{"id":"ced3c830.5ec088","type":"switch","z":"d463b030.b9c72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"},{"t":"lt","v":"18","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1043.5,"y":189,"wires":[["954364f8.7ccf28","e977fca.2a90a8"],["8dbbc951.973738","4d3549ad.403d"],[]]},{"id":"954364f8.7ccf28","type":"http request","z":"d463b030.b9c72","name":"Turn off heater","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/heater/false","tls":"","x":1222,"y":108,"wires":[[]]},{"id":"8dbbc951.973738","type":"http request","z":"d463b030.b9c72","name":"Turn heater on","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/heater/true","tls":"","x":1229,"y":228,"wires":[[]]},{"id":"e977fca.2a90a8","type":"http request","z":"d463b030.b9c72","name":"Open window","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/window/true","tls":"","x":1226,"y":151,"wires":[[]]},{"id":"4d3549ad.403d","type":"http request","z":"d463b030.b9c72","name":"Close window","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/window/false","tls":"","x":1226,"y":273,"wires":[[]]},{"id":"2d2dedf9.5058aa","type":"switch","z":"d463b030.b9c72","name":"","property":"payload[\"m2m:cin\"].con[0]","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":929,"y":530,"wires":[["9cbb79ee.7fbaa"],["6a1616d1.4d60e8","3a5c6807.55336","cc1c16b4.c12a18"]]},{"id":"9cbb79ee.7fbaa","type":"http request","z":"d463b030.b9c72","name":"Turn lamp on","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/lamp/true","tls":"","x":1120.5,"y":421,"wires":[[]]},{"id":"6a1616d1.4d60e8","type":"http request","z":"d463b030.b9c72","name":"Turn lamp off","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/lamp/false","tls":"","x":1143.5,"y":480,"wires":[[]]},{"id":"7051add.521ccd4","type":"join","z":"d463b030.b9c72","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":896.5,"y":353,"wires":[["2946d8b1.632eb"]]},{"id":"2946d8b1.632eb","type":"function","z":"d463b030.b9c72","name":"","func":"if(msg.payload[0][\"m2m:cin\"].con[0] === \"true\"){\n    msg.payload = msg.payload[1][\"m2m:cin\"].con[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1021.5,"y":347,"wires":[["ced3c830.5ec088"]]},{"id":"cc1c16b4.c12a18","type":"http request","z":"d463b030.b9c72","name":"Close window","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/window/false","tls":"","x":1137,"y":576,"wires":[[]]},{"id":"3a5c6807.55336","type":"http request","z":"d463b030.b9c72","name":"Turn off heater","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/heater/false","tls":"","x":1139,"y":531,"wires":[[]]}]