NodeRed_Dashboard/dashboard.json
[{"id":"2b65d59a.6d034a","type":"tab","label":"User Interface","disabled":false,"info":""},{"id":"5590782f.386e7","type":"tab","label":"Simulation dashboard","disabled":false,"info":""},{"id":"6fca7c27.c498b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52be0d13.2b458c","type":"ui_tab","z":"","name":"My home manager","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"76f256eb.923ff8","type":"ui_group","z":"","name":"Lamps management","tab":"52be0d13.2b458c","order":2,"disp":true,"width":"12","collapse":false},{"id":"d064cb97.d7f6b","type":"ui_group","z":"","name":"Windows management","tab":"52be0d13.2b458c","order":3,"disp":true,"width":"12","collapse":false},{"id":"7269ae52.b8eee","type":"ui_group","z":"","name":"Heaters management","tab":"52be0d13.2b458c","order":4,"disp":true,"width":"12","collapse":false},{"id":"547ce5e7.27a90c","type":"ui_group","z":"","name":"Room information","tab":"52be0d13.2b458c","order":1,"disp":true,"width":"12","collapse":false},{"id":"bd4528f8.91ab1","type":"ui_spacer","name":"spacer","group":"547ce5e7.27a90c","order":1,"width":1,"height":1},{"id":"16c6501a.013b88","type":"ui_spacer","name":"spacer","group":"547ce5e7.27a90c","order":4,"width":1,"height":1},{"id":"496cc531.f9a4ac","type":"ui_tab","z":"","name":"My home simulator","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8337c2f2.8490a","type":"ui_group","z":"","name":"Temperature sensor","tab":"496cc531.f9a4ac","order":1,"disp":true,"width":"12","collapse":false},{"id":"c359df81.f5e41","type":"ui_group","z":"","name":"Luminosity sensor","tab":"496cc531.f9a4ac","order":2,"disp":true,"width":"12","collapse":false},{"id":"d167ab0c.040298","type":"ui_group","z":"","name":"Presence sensor","tab":"496cc531.f9a4ac","order":3,"disp":true,"width":"12","collapse":false},{"id":"f276cf62.d9c1","type":"ui_switch","z":"2b65d59a.6d034a","name":"","label":"Lamp 1","tooltip":"","group":"76f256eb.923ff8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Turned on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Turned off","offvalueType":"str","officon":"","offcolor":"","x":569.5,"y":80,"wires":[["b47a8805.0916c8"]]},{"id":"ed8beb1a.143e1","type":"ui_switch","z":"2b65d59a.6d034a","name":"","label":"Lamp 2","tooltip":"","group":"76f256eb.923ff8","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"Turned on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Turned off","offvalueType":"str","officon":"","offcolor":"","x":570.5,"y":208,"wires":[["747db2ae.8e63d4"]]},{"id":"c493d7c0.98a68","type":"ui_gauge","z":"2b65d59a.6d034a","name":"","group":"547ce5e7.27a90c","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0009b5","#0d9b02","#ca3838"],"seg1":"18","seg2":"22","x":677.5,"y":409,"wires":[],"inputLabels":["22"]},{"id":"2e904fdc.ba2d5","type":"ui_text","z":"2b65d59a.6d034a","group":"547ce5e7.27a90c","order":5,"width":0,"height":0,"name":"","label":"Luminosity rate:","format":"{{msg.payload}} %","layout":"row-spread","x":666.5,"y":603,"wires":[]},{"id":"5dd6115f.4fefd8","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"value","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":423.5,"y":396,"wires":[["c493d7c0.98a68"]]},{"id":"a37ddd4b.f8172","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"value","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410.5,"y":327,"wires":[["c493d7c0.98a68"]]},{"id":"11a5683f.6f1f78","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"value","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":404.5,"y":474,"wires":[["c493d7c0.98a68"]]},{"id":"87e407ba.1f114","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":363.5,"y":599,"wires":[["2e904fdc.ba2d5"]]},{"id":"7bcb44ba.59722c","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Room presence","name":"","x":836.5,"y":819,"wires":[]},{"id":"b47a8805.0916c8","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Lamp 1","name":"","x":1214.5,"y":63,"wires":[]},{"id":"747db2ae.8e63d4","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"4","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Lamp 2","name":"","x":1147.5,"y":198,"wires":[]},{"id":"5e8156fb.a6302","type":"ui_switch","z":"2b65d59a.6d034a","name":"","label":"Heater 1","tooltip":"","group":"7269ae52.b8eee","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Turned on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Turned off","offvalueType":"str","officon":"","offcolor":"","x":1144.5,"y":438,"wires":[["48bfd124.4019d"]]},{"id":"f162a604.a25558","type":"ui_switch","z":"2b65d59a.6d034a","name":"","label":"Heater 2","tooltip":"","group":"7269ae52.b8eee","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Turned on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Turned off","offvalueType":"str","officon":"","offcolor":"","x":1136.5,"y":547,"wires":[["4e875cc6.94db84"]]},{"id":"48bfd124.4019d","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Heater 1","name":"","x":1573.5,"y":428,"wires":[]},{"id":"4e875cc6.94db84","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Heater 2","name":"","x":1528.5,"y":542,"wires":[]},{"id":"1fb3b80.40fc0c8","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"","payload":"Turned on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":282.5,"y":51,"wires":[["f276cf62.d9c1"]]},{"id":"766a9bf7.847074","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"","payload":"Turned off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270.5,"y":116,"wires":[["f276cf62.d9c1"]]},{"id":"27e50ef5.0895e2","type":"ui_switch","z":"2b65d59a.6d034a","name":"","label":"Window 1","tooltip":"","group":"d064cb97.d7f6b","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Turned on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Turned off","offvalueType":"str","officon":"","offcolor":"","x":1147.5,"y":686,"wires":[["8cbf1dd4.144708"]]},{"id":"cc9d5ed8.94b08","type":"ui_switch","z":"2b65d59a.6d034a","name":"","label":"Window 2","tooltip":"","group":"d064cb97.d7f6b","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Window 2","style":"","onvalue":"Turned on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Turned off","offvalueType":"str","officon":"","offcolor":"","x":1151.5,"y":742,"wires":[["6e4b2460.07276c"]]},{"id":"8cbf1dd4.144708","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Window 1","name":"","x":1545.5,"y":658,"wires":[]},{"id":"6e4b2460.07276c","type":"ui_toast","z":"2b65d59a.6d034a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Window 2","name":"","x":1537.5,"y":737,"wires":[]},{"id":"a688193a.6729c","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":222.5,"y":728,"wires":[["fb4c8c02.a8a53"]]},{"id":"16ceac99.01b6ab","type":"inject","z":"2b65d59a.6d034a","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219.5,"y":800,"wires":[["fb4c8c02.a8a53"]]},{"id":"fb4c8c02.a8a53","type":"function","z":"2b65d59a.6d034a","name":"Test","func":"msg.color = (msg.payload === true)?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":361.5,"y":761,"wires":[["d0e301a0.4d6bf","e60c404.c2bdac"]]},{"id":"d0e301a0.4d6bf","type":"ui_text","z":"2b65d59a.6d034a","group":"547ce5e7.27a90c","order":6,"width":0,"height":0,"name":"","label":"Room presence","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":691.5,"y":752,"wires":[]},{"id":"e60c404.c2bdac","type":"function","z":"2b65d59a.6d034a","name":"Room presence","func":"msg.payload = (msg.color === \"lime\")?\"Someone entered the room\":\"Nobody's still in the room\";\nreturn msg;","outputs":1,"noerr":0,"x":519.5,"y":824,"wires":[["7bcb44ba.59722c"]]},{"id":"af92ecde.1981f","type":"ui_template","z":"2b65d59a.6d034a","group":"76f256eb.923ff8","name":"lightbulb icon","order":1,"width":"12","height":"2","format":"<div style=\"text-align: center\"><i class=\"fa fa-lightbulb-o\" style=\"font-size:50px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1431.5,"y":128,"wires":[[]]},{"id":"314ffd68.4bfeca","type":"ui_template","z":"2b65d59a.6d034a","group":"547ce5e7.27a90c","name":"information icon","order":2,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-info\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":687,"y":912,"wires":[[]]},{"id":"b614a121.1ea8","type":"ui_template","z":"2b65d59a.6d034a","group":"d064cb97.d7f6b","name":"home icon","order":1,"width":"12","height":"2","format":"<div style=\"text-align: center\"><i class=\"fa fa-home\" style=\"font-size:50px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1830,"y":681,"wires":[[]]},{"id":"a30d3223.bf9dc","type":"ui_template","z":"2b65d59a.6d034a","group":"7269ae52.b8eee","name":"fire icon","order":1,"width":"12","height":"2","format":"<div style=\"text-align: center\"><i class=\"fa fa-fire\" style=\"font-size:50px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1838,"y":466,"wires":[[]]},{"id":"7c2e8fca.a6d33","type":"ui_switch","z":"5590782f.386e7","name":"","label":"Presence","tooltip":"","group":"d167ab0c.040298","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":456.5,"y":489,"wires":[[]]},{"id":"2eeb45c6.6ebb6a","type":"ui_template","z":"5590782f.386e7","group":"8337c2f2.8490a","name":"thermometer icon","order":1,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-thermometer-half\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1129,"y":181,"wires":[[]]},{"id":"204da4cb.be0c2c","type":"ui_template","z":"5590782f.386e7","group":"c359df81.f5e41","name":"sun icon","order":1,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-sun-o\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":869,"y":357,"wires":[[]]},{"id":"d2e087fb.78dfc8","type":"ui_template","z":"5590782f.386e7","group":"d167ab0c.040298","name":"people icon","order":2,"width":"12","height":"3","format":"<div style=\"text-align: center\"><i class=\"fa fa-users\" style=\"font-size:100px;\"></i></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":896,"y":475,"wires":[[]]},{"id":"18d378e3.601aef","type":"ui_form","z":"5590782f.386e7","name":"","label":"Temperature (°C):","group":"8337c2f2.8490a","order":7,"width":0,"height":0,"options":[{"label":"Temperature (°C)","value":"temperature","type":"text","required":true}],"formValue":{"temperature":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":383.5,"y":213,"wires":[["3f5289de.eef26e"]]},{"id":"e0cf8767.2aa888","type":"ui_form","z":"5590782f.386e7","name":"","label":"Luminosity rate (%):","group":"c359df81.f5e41","order":7,"width":0,"height":0,"options":[{"label":"Luminosity rate (%)","value":"Luminosity rate (%)","type":"text","required":true}],"formValue":{"Luminosity rate (%)":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":469,"y":334,"wires":[[]]},{"id":"3f5289de.eef26e","type":"http request","z":"5590782f.386e7","name":"","method":"POST","ret":"txt","url":"http://localhost:8081/ProjectRoomINSA/webapi/myresource/temperature/{{msg.temperature}}","tls":"","x":624.5,"y":213,"wires":[["fb04f68c.d63d98"]]},{"id":"fb04f68c.d63d98","type":"debug","z":"5590782f.386e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":877.5,"y":223,"wires":[]}]
